.caja{
    width: 400px;
    height: 250px;
    background-color: aqua;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px;
    /*transform: rotate(-90deg);*/
    /*transform: scale(0.5);*/
    /*transform: rotate(-25deg);*/
    transition: all 0.5s ease;
    cursor: pointer;

}
    

    @keyframes rectangulo {
        15%{
            background-color:red;
            transform:scale(0.9);
        }
        35%{background-color:yellow;
            transform:scale(1.1);}
        50%{background-color:orange;
            transform:scale(0.9);}
        65%{background-color:blue;
            transform:scale(1.1);}
        85%{background-color:blueviolet;
            transform:scale(0.9);}
        100%{background-color:green;
            transform:scale(1.1);}        
    }

    .caja:hover{
        animation: rectangulo 6s ease;

        animation-fill-mode: forwards;/*Me quedo como termina.*/
        animatiom-iteration-count: 5;
    }