.contenedor{
    background-color: rgb(214, 214, 214);
    display: flex;
     justify-content: space-evenly;
}

.item{
    background-color: antiquewhite;
    width: 100px;
    height: 100px;
    margin: 20px;
    font-size: 25px;
}