.contenedor{
    background-color: rgb(238, 237, 237);
    width: 60%;
    margin: 0 auto; /*ariba y abajo, derecha e izquierda.*/
    height: 500px;
    /*padding-top: 20px; Margen para adentro*/
}

.verde{
background-color: lightgreen;
margin: 0 auto 20px; /*arriba-laterales-abajo*/
width: 90%;
height: 150px;
}